#### Predict your scores better :)
As you saw in the previous simple linear regression task that previous year grades (G2) have significant correlation with third year grades (G3). But G2 is not direct causation of G3, there are many factors which determine G3. Let's add few more variables which may help to determine G3.

### Multiple linear regression
Multiple linear regression is simply the linear regression extended to problems where the dependent or output variable is determined by more than one independent variable.<br>

#####  $\hat{y}$ (w, x) = w_0 + w_1 * x_1 + ... + w_p * x_ps

#### Dataset
The dataset is available at __"data/multiple_linear_data.csv"__ in the respective challenge's repo.<br><br>

This is the __modified version__ of the dataset *'Student Performance'* provided by UCI Machine Learning repository.<br>
Original dataset: https://archive.ics.uci.edu/ml/datasets/student+performance

#### Features (X)
1. age - student's age (numeric: from 15 to 22)
2. address - student's home address type (binary: 'U' - urban or 'R' - rural)
3. famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
4. reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
5. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
6. failures - number of past class failures (numeric: n if 1<=n<3, else 4)
7. schoolsup - extra educational support (binary: yes or no)
8. famsup - family educational support (binary: yes or no)
9. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
10. activities - extra-curricular activities (binary: yes or no)
11. higher - wants to take higher education (binary: yes or no)
12. internet - Internet access at home (binary: yes or no)
13. romantic - with a romantic relationship (binary: yes or no)
14. freetime - free time after school (numeric: from 1 - very low to 5 - very high)
15. goout - going out with friends (numeric: from 1 - very low to 5 - very high)
16. health - current health status (numeric: from 1 - very bad to 5 - very good)
17. absences - number of school absences (numeric: from 0 to 93)
18. G1 - first year math grades (numeric: from 0 to 100)
19. G2 - second year math grades (numeric: from 0 to 100)

#### Output target (Y) 
20. G3 - final year math grades (numeric: from 0 to 100, output target)

#### Objective
To learn multiple linear regression and practice handling categorical features

#### Tasks
- To load the data and print first 5 rows
- Transform categorical features into numerical features. Use either one hot encoding, label encoding or any other suitable preprocessing technique.
- Define X matrix (independent features) and y vector (target feature)
- Train Linear Regression Model (sklearn.linear_model.LinearRegression class)
- Print 'Mean Squared Error' (MSE) obtained on the same dataset i.e. same X and y (sklearn.metrics.mean_squared_error function)
- Predict on a numpy array defined by you
```python
>>> new_data = np.array([1,0,1,.....,30,20]).reshape(1,-1)
>>> print("Predicted grade:",model.predict(new_data))
```

#### Further fun (will not be evaluated)
- Train LassoRegression and RidgeRegression as well. Read about them from scikit-learn user guide.
- *Step-up challenge*: Get down the MSE (mean squared error) below 3.25 using linear models
- Implement multiple linear regression from scratch
- Plot loss curve (Loss vs number of iterations)

#### Helpful links
- Scikit-learn documentation for linear regression: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
- Read till where you feel comfortable: https://jakevdp.github.io/PythonDataScienceHandbook/05.06-linear-regression.html
- Use slack for doubts: https://join.slack.com/t/deepconnectai/shared_invite/zt-givlfnf6-~cn3SQ43k0BGDrG9_YOn4g

In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# IF sklearn.compose.ColumnTransformer is used for feature transformation, then below import will help to infer features
# from helper.utils import get_column_names_from_ColumnTransformer

In [3]:
# NOTE: DO NOT CHANGE THE VARIABLE NAME(S) IN THIS CELL
# Load the data
data = pd.read_csv('https://raw.githubusercontent.com/ansharora23/Bennett-Sem5/master/AI-ML/Lab%202/Data/multiple_linear_data.csv')

In [4]:
# You may need original list of columns to interpret the features after transformation, maybe
orig_cols = data.columns

In [5]:
data.head()

   age address famsize  reason  studytime  ...  health absences  G1  G2  G3
0   18       U     GT3  course          2  ...       3        6  25  30  30
1   17       U     GT3  course          2  ...       3        4  25  25  30
2   15       U     LE3   other          2  ...       3       10  35  40  50
3   15       U     GT3    home          3  ...       5        2  75  70  75
4   16       U     GT3    home          2  ...       5        4  30  50  50

[5 rows x 20 columns]

In [8]:
# Handle categorical values
label_encoder = preprocessing.LabelEncoder()

In [9]:
data['address']= label_encoder.fit_transform(data['address']) 
data['famsize']= label_encoder.fit_transform(data['famsize']) 
data['reason']= label_encoder.fit_transform(data['reason']) 
data['schoolsup']= label_encoder.fit_transform(data['schoolsup']) 
data['famsup']= label_encoder.fit_transform(data['famsup']) 
data['paid']= label_encoder.fit_transform(data['paid']) 
data['activities']= label_encoder.fit_transform(data['activities']) 
data['higher']= label_encoder.fit_transform(data['higher']) 
data['internet']= label_encoder.fit_transform(data['internet']) 
data['romantic']= label_encoder.fit_transform(data['romantic'])

In [10]:
onehotencoder=OneHotEncoder(categories='auto')

df = onehotencoder.fit_transform(data[['address']]).toarray()
data=data.drop(columns='address')
data.insert(1,'address_1',df[:,0])
data.insert(2,'address_2',df[:,1])

df = onehotencoder.fit_transform(data[['famsize']]).toarray()
data=data.drop(columns='famsize')
data.insert(3,'famsize_1',df[:,0])
data.insert(4,'famsize_2',df[:,1])

df = onehotencoder.fit_transform(data[['reason']]).toarray()
data=data.drop(columns='reason')
data.insert(5,'reason_1',df[:,0])
data.insert(6,'reason_2',df[:,1])
data.insert(7,'reason_3',df[:,2])
data.insert(8,'reason_4',df[:,3])

df = onehotencoder.fit_transform(data[['schoolsup']]).toarray()
data=data.drop(columns='schoolsup')
data.insert(11,'schoolsup_1',df[:,0])
data.insert(12,'schoolsup_2',df[:,1])

df = onehotencoder.fit_transform(data[['famsup']]).toarray()
data=data.drop(columns='famsup')
data.insert(13,'famsup_1',df[:,0])
data.insert(14,'famsup_2',df[:,1])

df = onehotencoder.fit_transform(data[['paid']]).toarray()
data=data.drop(columns='paid')
data.insert(15,'paid_1',df[:,0])
data.insert(16,'paid_2',df[:,1])

df = onehotencoder.fit_transform(data[['activities']]).toarray()
data=data.drop(columns='activities')
data.insert(17,'activities_1',df[:,0])
data.insert(18,'activities_2',df[:,1])

df = onehotencoder.fit_transform(data[['higher']]).toarray()
data=data.drop(columns='higher')
data.insert(19,'higher_1',df[:,0])
data.insert(20,'higher_2',df[:,1])

df = onehotencoder.fit_transform(data[['internet']]).toarray()
data=data.drop(columns='internet')
data.insert(21,'internet_1',df[:,0])
data.insert(22,'internet_2',df[:,1])

df = onehotencoder.fit_transform(data[['romantic']]).toarray()
data=data.drop(columns='romantic')
data.insert(23,'romantic_1',df[:,0])
data.insert(24,'romantic_2',df[:,1])

In [11]:
data.head()

   age  address_1  address_2  famsize_1  ...  absences  G1  G2  G3
0   18        0.0        1.0        1.0  ...         6  25  30  30
1   17        0.0        1.0        1.0  ...         4  25  25  30
2   15        0.0        1.0        0.0  ...        10  35  40  50
3   15        0.0        1.0        1.0  ...         2  75  70  75
4   16        0.0        1.0        1.0  ...         4  30  50  50

[5 rows x 32 columns]

In [12]:
# Define your X and y
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [14]:
# Initialize the model
model = LinearRegression()

In [15]:
# Fit the model. Wait! We will complete this step for you ;)
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
# Print mean squared error
y_pred = model.predict(X)
mse = mean_squared_error(y,y_pred)
print(f"\nMSE: {mse}")

MSE: 85.27642516663592

In [24]:
# Predict on your own data
new_data = np.array([20,1,4,3,3,1,0,9,10,0,0,0,1,1,13,3,54,31,0,1,12,20,55,66,44,7,0,1,1,30,31]).reshape(1,-1)
print("Predicted grade:",model.predict(new_data))

Predicted grade: [95.61358858]